:root {
  --navbar-height: 70px; /* Definimos la altura una sola vez */
}

.App {
  padding-top: var(--navbar-height);
  min-height: 100vh;
  background-color: #f8f9fa; /* Un gris muy suave estilo Ironhack */
}